<div class="pageup">
	
	<span class="close">
		{{#link-to 'home'}}
			{{fa-icon 'times' size="lg"}}
		{{/link-to}}
	</span>

	<div class="contact">
		<h2>Say something <br>really funny here</h2>
		<h3>
			<a href="mailto:hairgod78@gmail.com">
				hairgod78@gmail.com
			</a>
		</h3>	
	</div>

</div>

{{outlet}}
